body {background:#fff; margin:0; padding:0; color:#000; text-align:center;}
html {overflow-y:auto;} /* Firefox hack that forces the sidebar to be always visible */

/* LINKS */
a {text-decoration:none; color:#36c;}
	a:hover{text-decoration:none;}

/* LAYOUT */
#mainWrapper {width:100%; margin:0 auto; text-align:left;}

/* 

FADE STARTS

*/

#openpage div {


    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#openpage p {


    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#openpage a {


    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*

FADE ENDS

*/



h1 {
	font-family: "Courier New", sans-serif;
	color:black;
	font-weight:bold;
	font-size:13px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*
    -webkit-align-content: center;
    align-content: center; 
    */
}

h2 {
	font-family: "Courier New", sans-serif;
	color:black;
	font-weight:normal;
	font-size:11px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*
    -webkit-align-content: center;
    align-content: center; 
    */
}

h3 {
  font-family: "Courier New", sans-serif;
  color:black;
  font-weight:bold;
  font-size:7px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*
    -webkit-align-content: center;
    align-content: center; 
    */
}


.body1  a:link {
        text-decoration: none;
        color: #ffffff;
        opacity: 0;
        }

.body1  a:active {
        color: white;
        }

.body1  a:visited {
        text-decoration: none;
        color: white;
        }

.body1  a:hover {
        text-decoration: none;
        color: black;
        opacity: 1;
          transition: opacity 2s ease-in-out;
          -moz-transition: opacity 2s ease-in-out;
          -webkit-transition: opacity 2s ease-in-out;
        }



.body2  a:link {
        text-decoration: none;
        color: #aaaaaa;
        }


.body2 img {
    opacity: 1;
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
}
.body2 img:hover {
    opacity: 0.1;
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
}​

.body2  a:active {
        color: black;
        }

.body2  a:visited {
        text-decoration: none;
        color: black;
        }

.body2  a:hover {
        text-decoration: none;
        color: grey;
        opacity: 0.1;
          transition: opacity 3s ease-in-out;
          -moz-transition: opacity 3s ease-in-out;
          -webkit-transition: opacity 3s ease-in-out;
        }


.body3  a:link {
        text-decoration: underline;
        color: #aaaaaa;
        }


.body3 img {
    opacity: 1;
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
}
.body3 img:hover {
    opacity: 0.1;
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
}​

.body3  a:active {
        color: black;
        }

.body3  a:visited {
        text-decoration: none;
        color: black;
        }

.body3  a:hover {
        text-decoration: none;
        color: grey;
        opacity: 0.1;
          transition: opacity 3s ease-in-out;
          -moz-transition: opacity 3s ease-in-out;
          -webkit-transition: opacity 3s ease-in-out;
        }

.body4  a:link {
        text-decoration: none;
        color: #ffffff;
        opacity: 0;
        }

.body4  a:active {
        color: white;
        }

.body4  a:visited {
        text-decoration: none;
        color: white;
        }

.body4  a:hover {
        text-decoration: none;
        color: black;
        opacity: 1;
          transition: opacity 2s ease-in-out;
          -moz-transition: opacity 2s ease-in-out;
          -webkit-transition: opacity 2s ease-in-out;
        }


/* 


*/


.menu{
	float:left;
  margin-top:5%;
	border:0px solid;
    position: absolute;
    width: 18%;
    height: 90%;
    overflow: hidden;
    background: #ffffff;
}
.menu:before{
    content: "";
    display: block;

}
.menu-content{
    position:relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    vertical-align: middle;
}
.menu-content div {
   display: table;
   width: 100%;
   height: 90%;

}
.menu-content span {
    display: block;
    text-align: right;
    /*vertical-align: middle;*/
    margin-right: 30px;
    color: black;
}


/* 


*/

.name { 

	font-family: "Courier New", serif;
	color:white;
	font-weight:bold;
	border:0px solid;
	position: relative;
	float:top;
  text-align: right;
  margin-right:30px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
		}

.name2 { 

  font-family: "Courier New", serif;
  color:white;
  font-weight:bold;
  border:0px solid;
  position: relative;
  float:top;
  text-align: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    }

/* 


*/

.links-div {
  padding-top: 20%;
  padding-bottom: 20%;
  border:0px solid;
}



/* 


*/

.right_side{
	margin-left:18%;
  margin-top:5%;
  margin-right:0%;
  position: absolute;
  width: 82%;
  height: 90%;
  overflow: auto;
  background: #ffffff;
  border:0px solid;
}




.text { 
	color:black;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

/* 


*/

.topper {
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:5%;
   background-color:#ffffff;
   border:0px solid;
   text-align: left;
}

.nametopper {
   position:fixed;
   top:0;
   margin-left:22%;
   width:78%;
   height:5%;
   background-color:#ffffff;
   border:0px solid;
   text-align: left;
}

/* 


*/

.footer { 
	float:left;
	margin-top:95%;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 5%;
    border:0px solid;
    overflow: hidden;
    background: #ffffff;
	font-family: "Courier New", serif;
	color:black;
	font-size:8px;
	font-weight:bold;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}


/* 


*/

.contactform {
    display: inline;
    float: none;
}



.anytable {
  position:absolute;
  overflow-y: auto;
  border:0px solid;
  margin: 0px auto; 
}

.anytableleft {
  position: relative;
  float:left;
  width:500px;
  height:281px;
  overflow-y: auto;
}

.anytableright {
  position: relative;
  text-align: left;
  margin-left: 505px;
  height:100%;
  overflow-y: hidden;
  border:0px solid;
  
}

/*

*/

.designtable {
  position:absolute;
  overflow-y: auto;
  border:1px solid;
  margin:0 auto; 
}

.designtableleft {
  position: relative;
  vertical-align: top;
  float:left;
  width:303px;
  height:30px;
  overflow-y: auto;
  border:0px solid;
}

.designtableleftlonger {
  position: relative;
  vertical-align: top;
  float:left;
  width:303px;
  height:100px;
  overflow-y: auto;
  border:0px solid;
}

.designtableleftevenlonger {
  position: relative;
  vertical-align: top;
  float:left;
  width:303px;
  height:145px;
  overflow-y: auto;
  border:0px solid;
}

.designtableright {
  position: relative;
  vertical-align: top;
  text-align: left;
  margin-left: 333px;
  height:30px;
  overflow-y: hidden;
  border:0px solid;
  
}

audio {
  width: 303px;
  margin: 0 auto;
}

/* GALLERIES START */



/* GALLERIES END */



/* FILM PAGE START 

.filmtable {
  position:absolute;
  overflow-y: auto;
  border:0px solid;
  margin-left:auto; 
  margin-right:auto;
}

.filmtrailers {
  position: relative;
  float:left;
  width:500px;
  height:281px;
  overflow-y: auto;;
}

.filmdescription {
  position: relative;
  text-align: left;
  margin-left: 505px;
  height:100%;
  overflow-y: hidden;
  border:0px solid;
  
}

/* FILM PAGE END


/* VIDEO GAMES PAGE START

.videogametable {
  position:relative;
  overflow-y: auto;
  border:0px solid;
  margin-left:auto; 
  margin-right:auto;

}

.videogamevideos {
  position: relative;
  float:left;
  width:500px;
  height:281px;
  overflow-y: auto;
}

.videogamedescription {
  position: relative;
  text-align: center;
  margin-left: 505px;
  height:281px;
  overflow-y: hidden;
  border:0px solid;
}

/* VIDEO GAMES PAGE END


/* PROGRAMMING PAGE START

.progtable {
  position:absolute;
  overflow-y: auto;
  border:0px solid;
  margin-left:auto; 
  margin-right:auto;
}

.progpic {
  position: relative;
  float:left;
  width:500px;
  height:281px;
  overflow-y: auto;
  border: 0px solid;
}

.progdescription {
  position: relative;
  text-align: center;
  margin-left: 505px;
  height:281px;
  overflow-y: auto;
  border:0px solid;
}


/* PROGRAMMING PAGE END */


/* WHO PAGE STARTS */

.blockoftext {
  position: relative;
  margin-left: auto ;
  margin-right: auto ;
  border:0px solid;
  width: 75%;
}

/* WHO PAGE END */

.filmskillist{
  width: 512px;
  margin-left: auto ;
  margin-right: auto ;
  text-align: justify;
  border:0px solid;
}









/* IMAGES START */

#rectimg {
  width:499px;
  height:280px;
  max-width: 500px;
  max-height: 281px;
  border:0px solid;

}







/* IMAGES END */

#images {
    width: 400px;
    height: 250px;
    overflow: hidden;
    position: relative;

    margin: 0px auto;
}
#images img {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    opacity: 0;

    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child {
    left: 0;
    opacity:1;
}
#slider a {
    text-decoration: none;
    border: 0px solid #C6E4F2;
    padding: 4px 6px;
    color: #000000;
      font-family: "Courier New", sans-serif;
  color:black;
  font-weight:normal;
  font-size:9px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*
    -webkit-align-content: center;
    align-content: center; 
    */
}
#slider a:hover {
    background: #999999;
}


/* CONTACT START

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the page
.body4 {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes
input, textarea {
  width:439px;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
}

textarea {
  height:213px;
  background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {

}

  #submit:hover {
      opacity:.9;
  }
/

CONTACT END */

/* 

FADE MENU CSS START

.dropmenu {
  background-color:#ffffff;
  padding:2px 5px;
  position:relative;
  height:16px;
}
.dropmenu > ul {
  list-style-type:none;
  margin:0px;
  position:relative;
  left:0px;
  top:17px;
  background-color:#ffffff;
  vertical-align: middle;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.dropmenu:hover > ul {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

FADE MENUS CSS END


LINKS START


#links-div a:link, .links-div a:visited {
    color:red;
}

LINKS END

*/


